.App {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
}

.artists-button {
  margin: 0px 0px 0px 100px;
}

.artist-card {
  border: 2px solid black;
  padding: 1rem;
  margin: 3rem;
  max-width: 200px;
}



